<<<<<<< HEAD
.search-box {
    -fx-background-color: #FFD0D0;
=======
.search-box{
    -fx-background-color:#FFD0D0;
>>>>>>> 4e054974d3d4cd6bc92e4aac8fe9d21537f591c6
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

<<<<<<< HEAD
.search-button {
    -fx-background-color: #828282;
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5.0, 0.0, 0.0, 5.0);
}


.right-bar {
    -fx-background-color: #D3D3D3;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.chosen-fruit-card {
=======
.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
>>>>>>> 4e054974d3d4cd6bc92e4aac8fe9d21537f591c6
    -fx-background-color: #FFD0D0;
    -fx-background-radius: 30;
}

<<<<<<< HEAD
.comboBox {
=======
.comboBox{
>>>>>>> 4e054974d3d4cd6bc92e4aac8fe9d21537f591c6
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

<<<<<<< HEAD
.add-btn {
=======
.add-btn{
>>>>>>> 4e054974d3d4cd6bc92e4aac8fe9d21537f591c6
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

<<<<<<< HEAD
.free-delivery-card {
=======
.free-delivery-card{
>>>>>>> 4e054974d3d4cd6bc92e4aac8fe9d21537f591c6
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

<<<<<<< HEAD
.shopping-online-card {
=======
.shopping-online-card{
>>>>>>> 4e054974d3d4cd6bc92e4aac8fe9d21537f591c6
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

<<<<<<< HEAD
.fruit-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

#playNowButton {
    -fx-background-color: #828282;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}

#scroll {
    -fx-padding: 10;
}

#gridProduct {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}
.product-card {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.product-name {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.product-price {
    -fx-font-size: 12px;
    -fx-text-alignment: center;
    -fx-text-fill: #828282;
    -fx-wrap-text: true;
}


=======
.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
>>>>>>> 4e054974d3d4cd6bc92e4aac8fe9d21537f591c6
